<div class="about">
  <br>
  <h1 class="headings">About</h1>
  <p class="content">This web application has been built in Angular 6, Angular Material, HTML, CSS, Javascript and Bootstrap. It is currently
    using the RESTful API provided by Dailymotion for the videos and their online streaming.</p>
</div>
<br>





<div class="contact">
  <img src="https://goo.gl/QLz2kD" class="dp">
  <br>
  <br>
  <p class="name">Sarthak Srivastava</p>

  <ul class="social">
    <a target="_blank" href="https://www.facebook.com/sarthak.srivastav.77">
      <li class="fb">
        <span class="fab fa-facebook-f "></span>
      </li>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/sarthaksri98/">
      <li class="lnkd">
        <span class="fab fa-linkedin-in "></span>
      </li>
    </a>
    <a target="_blank" href="https://github.com/SarthakSri98">
      <li class="cp">
        <i class="fab fa-github"></i>
      </li>
    </a>
    <a target="_blank" href="https://www.quora.com/profile/Sarthak-Srivastav">
      <li class="quora">
        <span class="fab fa-quora "></span>
      </li>
    </a>
  </ul>
  <div class="footer">
    <ul class="social1">
      <a href="https://mail.google.com/mail/u/0/#inbox">
        <li>
          <span class="fa fa-envelope"></span> : sarthaksri1998@gmail.com</li>
      </a>
      <li class="phone">
        <span class="fa fa-phone"></span> : 7071301593</li>
    </ul>
  </div>

</div>
<br>
<br>