@import url('https://fonts.googleapis.com/css?family=Pacifico|Bowlby+One+SC|Markazi+Text|Amatic+SC');

@keyframes navAnim{
    from {  border-bottom:3px solid red; display:none }
    to {  border-bottom:3px solid red; display:inline }

}


body{
    background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
a{
    color:#361C0E;
    text-decoration: none;
}

.nav li{
    float:left;
    font-family: 'Markazi Text';
    font-size: 20px;
}
.nav li:hover{
    animation: navAnim 100s;
}
.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    top:8px;
}

nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-header{
    margin-top:3px;
}

@media only screen and (max-width: 1200px) {
    .navbar-header{
        display: none;
    }
    .navbar-nav{
        position: relative;
        left:-45px;
    }
}