<body><div class="container">
  <nav class = "navbar navbar-default" role = "navigation">
   
    <div class = "navbar-header">
       <a class = "navbar-brand">ngVideoz</a>
    </div>
    
    <div>
       <ul class = "nav navbar-nav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class = "active"><a routerLink='home'>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li><a routerLink='about'>About</a></li>
       </ul>
    </div>
    
 </nav>
</div>
</body>
