<div *ngIf='favVideoz.length<=0'>
  <h1 class="sorry">SORRY! NO FAVOURITES TO SHOW&nbsp;<i class="fa fa-sad-tear"></i></h1>
</div>
<div *ngIf='favVideoz.length>0'>
  <div class="container">
        <div *ngFor='let video of favVideoz;let i = index' id="videoCards">
          <a [href]='video.thumbnail_url'>
            <img id="albumImg" [src]="video.thumbnail_url">
          </a>
          <div class="videoInfo">
            <button mat-mini-fab id="cross" data-toggle="tooltip" title="Delete from favourites"  (click)='deleteFromFav(i)'><i class="fas fa-times"></i></button>
            <p class="name">{{video.title}}</p>
            <button mat-raised-button (click)="open(embedVideo,i)" class="btn" id="embedModalBtn">Stream video Online</button>
          </div>
        </div>
      </div>
      <ng-template #embedVideo let-c="close" let-d="dismiss">
        <div class="modal-header">
          <p style="color:black;text-align: center" mat-dialog-title>{{ currentVideoName }}</p>
          <button type="button" class="close" aria-label="Close" (click)="Cross_click()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="video-container">
            <iframe frameborder="0" [src]="embedUrl | safe" allowfullscreen allow="autoplay"></iframe>
          </div>
        </div>
      
      </ng-template>
</div>
     