<br><br>
<h1>“Coz a picture is worth a thousand words.......and a video is worth a million pictures..... <i class="fas fa-video"></i>”</h1><br>
<form class="form-group" [formGroup]='searchForm' (ngSubmit)="onSubmit()">
  <div class="input-group">
    <input type="text" class="form-control" name="searchStr" formControlName='search' [(ngModel)]='searchStr'>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
</form><br>
<div class="container">
 <div *ngFor='let video of videoArray;let i = index' id="videoCards">
    <img id="albumImg" [src]="video.thumbnail_url">
    <div class="videoInfo">
    <p class="name">{{video.title}}</p>
    <button (click)="open(embedVideo,i)" class="btn " id="embedModalBtn">Stream video Online</button>
  </div>
 </div>
</div> 

<ng-template #embedVideo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <p style="color:black;text-align: center">{{ currentVideoName }}</p>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="video">
    <iframe frameborder="0" width="480" height="270"
    [src]="embedUrl | safe"
    allowfullscreen allow="autoplay"></iframe> 
   </div>
  </div>


</ng-template>
